/* resets */


*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
}

:hover {
    transition: ease-in 0.2s;
}

body {

    scroll-behavior: smooth;
    display: block;
    font-family: var(--monospace)
}

/* Nav */
#end-nav-container nav {
    background-color: var(--uranian-blue);
    text-align: center;
    width: 100%;
    height: 60px
}

nav h1 {
    color: var(--star-command-blue);
    padding: 5px;
}

#score-section {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#score-section ul li {
    list-style-type: none;

}
#score-container {
    height: 150px;
    display: flex;
    width: 150px;
    align-self: center;
    padding: 20px;
    background-color: var(--uranian-blue);
    border-radius: 180px;
    animation: heroImage 5s infinite;
    transition: 0.5s;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#score-text {
    font-size: 20px;
    padding: 20px;
}
#score-wrapper{
    display: inline-flex;
    width: 100%;
    text-align: center;
    gap: 3rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}
#button-container{
    height: 70px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
#retry-quiz-btn {
    color: black;
    background-color: #2BD6AD;
    height:fit-content;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;


}

#retry-quiz-btn:hover{
    transform: scale(1.02);
    color: white;

}

#retry-btn-container
ol, ul {
    padding-left: 0;
    margin-bottom: 0;

}


footer {
    padding: 35px;
    background-color: var(--uranian-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--star-command-blue);
    height: 100%;
    flex-direction: column;
    position: sticky;
}

@media screen and (max-width: 568px) {
    html, body {
        overflow: scroll;
        width: 100%;
        justify-content: space-around;
        box-sizing: border-box;
    }

}
