:root {
    --pink-lavender: #cdb4dbff;
    --orchid-pink: #ffc8ddff;
    --nadeshiko-pink: #ffafccff;
    --uranian-blue: #bde0feff;
    --midnight-blue: #03045eff;
    --dark-cornflower-blue: #01648a;
    --star-command-blue: #2272A1;
    --blue-green: #0096c7ff;
    --pacific-blue: #00b4d8ff;
    --sky-blue-crayola: #48cae4ff;
    --middle-blue: #90e0efff;
    --blizzard-blue: #ade8f4ff;
    --light-cyan: #caf0f8ff;
    --green-progressBar: #01648a;
    --green-separator: #2BD6AD;
    --baby-blue-eyes: rgba(144, 20, 193, 0.95);
    --transition: 0.2s ease-in;
    --monospace: 'JetBrains Mono', monospace;
}

/* resets */
* {
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', cursive;

}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {

    overflow: hidden;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
}

:hover {
    transition: ease-in 0.2s;
}

body {
    font-size: medium;
    scroll-behavior: smooth;
    display: block;
    font-family: var(--monospace)
}

/* navbar */
nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    gap: 1.5rem;
    text-align: center;
    font-size: 30px;

}

nav ul a {
    text-decoration: none;
    color: var(--star-command-blue);
}

nav {
    background-color: black;
    width: 100%;
    position: sticky;


}

nav ul li:nth-child(1) {
    text-align: start;

}

nav ul li:nth-child(3) {
    text-align: end;
    margin-right: 10px;
}

#nav-items-container {

}

#navItem-one, #navItem-two, #navItem-three {
    flex: 2;
}

nav ul a:hover {
    color: var(--uranian-blue);
    transition: 0.2s ease-in-out;
    transform: scale(1.02);

}

.gradient-separator {
    height: 7px;
    background-color: var(--green-progressBar);
    margin: 20px;

}

/* progressBar */
#progressBar {
    border: 0.2rem solid var(--green-separator);
    height: 15px;
    border-radius: 50px;
    width: 100%;
    overflow: hidden;
}

#progressFull {
    width: 0%;
    background-color: var(--green-separator);
    animation: move 3s linear;
    height: 100%;
    border-radius: 50px;

}

/*@keyframes move {*/
/*    to {*/
/*        width: 100%;*/
/*    }*/
/*}*/


/* homepage section */
#homepage-section {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homepage-container {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: var(--pink-lavender);
}

#homepage-card {
    height: 100%;
    padding: 20px;
    display: inline-flex;
    align-self: center;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#name-button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: var(--uranian-blue);
    font-size: 20px;
    font-family: "JetBrains Mono ExtraBold", "JetBrains Mono", monospace;
}

#name-button:hover {
    transition: ease-in 0.2s;
    background-color: var(--star-command-blue);
    color: grey;
    cursor: pointer;
}

#error-meesage {
    display: none;
    color: darkred;
}

#name-input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;

}

#homepage-section {
    display: none;
}

/* questions sections */
#question-section {
    text-align: center;
}

#question-container {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 20px 10px 0 10px;
    justify-content: center;
    align-items: center;
    color: var(--star-command-blue);
}

#question-number {
    font-size: 20px;
    padding: 15px;
}

#questions {
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    color: var(--bs-black);

}


#timer {
    font-size: 15px;
}

#timer span {
    color: red;
}

#timeAndScore {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    text-align: start;
    flex-wrap: wrap;
    padding: 10px;

}

#question-number, #questions, #timer {
    flex: 5;
}

/* options section */
#option-section {

    padding: 10px;
    align-items: center;
    display: flex;
    height: 100%;
    color: var(--bs-black);
    width: 100%;
    justify-content: center;

}

#optionContainer {
    width: 500px;
    height: 320px;
    gap: 6px;
    display: flex;
    flex-flow: column;
}

.option {
    flex: 1;
    color: var(--star-command-blue);
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    border: 1px solid gray;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.option:hover {
    cursor: pointer;
    color: whitesmoke;

    transform: scale(1.02);

}

#a, #b, #c, #d {
    flex: 1;
    color: black;
    background-color: var(--light-cyan);
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    margin: 10px;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 50%;

}

.choice-text {
    flex: 5;
}

.separator {
    height: 100%;
    border-left: 2px solid gray;

}

/* footer */
footer {
    padding: 35px;
    background-color: var(--uranian-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--star-command-blue);
    height: 100%;
    flex-direction: column;
}

#media-container ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    margin-top: 20px;
    gap: 1.5rem;
    font-size: 30px;
}

#media-container ul a:hover {
    font-size: 32px;
    color: var(--dark-cornflower-blue);
    transition: 0.2s ease-in-out;
}

#background {
    background-image: url("../images/background.jpg");
    min-height: 100vh;
    width: 100vw;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;

}

.correct {
    background-color: rgba(11, 223, 36);
}

.incorrect {
    background-color: rgba(230, 29, 29, 1);
}

@media screen and (max-width: 568px)  {
    body{
        overflow: scroll;
    }
}
