:root {
    --pink-lavender: #cdb4dbff;
    --orchid-pink: #ffc8ddff;
    --nadeshiko-pink: #ffafccff;
    --uranian-blue: #bde0feff;
    --midnight-blue: #03045eff;
    --dark-cornflower-blue: #023e8aff;
    --star-command-blue: #0077b6ff;
    --blue-green: #0096c7ff;
    --pacific-blue: #00b4d8ff;
    --sky-blue-crayola: #48cae4ff;
    --middle-blue: #90e0efff;
    --blizzard-blue: #ade8f4ff;
    --light-cyan: #caf0f8ff;

    --baby-blue-eyes: rgba(144, 20, 193, 0.95);
    --transition: 0.2s ease-in;
    --monospace: 'JetBrains Mono', monospace;
}

/* resets */
* {
    margin: 0;
    padding: 0;

}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    font-size: medium;
    scroll-behavior: smooth;
    display: block;
    font-family: var(--monospace)
}

/* navbar */
nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    gap: 1.5rem;
    text-align: center;
    font-size: 40px;
}

nav ul a {
    text-decoration: none;
    color: black;
}

nav {
    background-color: var(--uranian-blue);
    width: 100%;
    position: sticky;

}

nav ul li:nth-child(1) {
    text-align: start;
}

nav ul li:nth-child(3) {
    text-align: end;
}

#nav-items-container {
    padding: 20px;
}

#navItem-one, #navItem-two, #navItem-three {
    flex: 2;
}

nav ul a:hover {
    color: var(--blue-green);
    transition: 0.2s ease-in-out;

}
#gradient-separator{
    height: 10px;
    background: hsla(206, 91%, 66%, 1);

    background: radial-gradient(circle, hsla(206, 91%, 66%, 1) 100%, hsla(190, 90%, 51%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(206, 91%, 66%, 1) 100%, hsla(190, 90%, 51%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(206, 91%, 66%, 1) 100%, hsla(190, 90%, 51%, 1) 100%);
    margin: 20px;

}

/* progressBar */
#progressBar {
    width: 100%;
    height: 15px;
    background-color: var(--blue-green);
}


/* homepage section */
#homepage-section {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homepage-container {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: var(--pink-lavender);
}

#homepage-card {
    height: 100%;
    padding: 20px;
    display: inline-flex;
    align-self: center;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#name-button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: var(--uranian-blue);
    font-size: 20px;
    font-family: "JetBrains Mono ExtraBold", "JetBrains Mono", monospace;
}

#name-input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;

}

#homepage-section {
    display: none;
}

/* questions sections */
#question-section {
    text-align: center;
}

#question-container {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: var(--star-command-blue);
}

#question-number {
    font-size: 20px;
    padding: 15px;
}

#questions {
    font-size: 24px;
    padding: 15px;
    font-family: "JetBrains Mono ExtraBold", "JetBrains Mono", monospace;
}

#timer {
    font-size: 15px;
    padding: 15px;

}

#question-number, #questions, #timer {
    flex: 5;
}

/* options section */
#option-section {
       align-content: center;
}
#optionContainer{
    width: 400px;
    height: 400px;
    background-color: aqua;
}

/* footer */
